<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ user.username }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            {% if user.getAvatarFilename() is not null %}
            <div class="col-md-3 col-lg-3 " align="center">
                <div class="avatar_profile" style="background-image:url('{{asset('/avatars/'~user.getAvatarFilename()) }}')"></div>
            </div>
            {% else %}
                <button class="avatar_profile_letter">
                    {{ user.getFirstLetterOfUserName() }}
                </button>
            {% endif %}

            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>Date d'inscrition</td>
                        <td>{{ user.createdAt|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Statut</td>
                        <td>
                            {% if 'ROLE_PROOFREADER' in user.roles %}
                               utilisateur / correcteur
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Ville</td>
                        <td>{{ user.city }}</td>
                    </tr>

                    <tr>
                    <tr>
                        <td>Nombre de demandes</td>
                        <td>{{ user.getPosts|length }}</td>
                    </tr>
                    <tr>
                        <td>Nombre de réponses</td>
                        <td>{{ user.getPostAnswers|length }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-info btn_profile_edit" href="{{ path('fos_user_profile_edit') }}">Modifier les infos du profil</a>
        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-info btn_profile_edit" href="{{ path('fos_user_change_password') }}">Changer le mot de passe</a>

    </div>


</div>