<div class="panel-body">
    <p>{{ postAnswer.text }}</p>
    {% if postAnswer.comment %}
        <p data-toggle="collapse" data-parent="#accordion" href="#collapse{{ postAnswer.id }}" class="comment">Commentaire <span class="glyphicon glyphicon-chevron-down"></span> </p>
            <p id="collapse{{ postAnswer.id }}" class="panel-collapse collapse out comment">{{ postAnswer.comment }}
        </p>
    <div style="display: flex" class="pull-right">
        {% if app.user == postAnswer.user %}
            {% if postAnswer.getEvaluations()|length < 1 %}
                <a  style="margin-right: 5px" class="btn btn-default btn-sm" href="{{ path('postanswer_edit', { 'id': postAnswer.id }) }}">Modifier</a>




            {% endif %}
        {% endif %}
    </div>
    {% endif %}

    {# <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> #}
</div>
<div class="panel-footer panel_footer_postanswer">
    <div><span class="hidden-xs">Posté le</span>  {{ postAnswer.createdAt|date('y-m-d à H:i') }}</div>
    <div >
        <span class="hidden-xs">par </span>
        <span class="panel_footer_postanswer_author">{{ postAnswer.getUser() }}</span>
    </div>

</div>