<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
    <div class="thumbnail post_thumbnail post_thumbnail{{ post.getId }}">
        <div class="panel-body">
            <span class="glyphicon glyphicon-question-sign question-sign{{ post.getId }}"></span>
            {% if app.user %}
                {% if 'ROLE_PROOFREADER' in app.user.roles %}
                    <a class="post_link" href="{{ path('post_proofreader_show', { 'id': post.id }) }}">{{ post.text[:50] }}...</a>
                {% else %}
                    <a class="post_link" href="" data-toggle="modal" data-target="#myModal{{ loop.index }}">{{ post.text[:50] }}...</a>
                {% endif %}
            {% else %}
                <a class="post_link" href="" data-toggle="modal" data-target="#myModal{{ loop.index }}" value="{{ post.id }}">{{ post.text[:50] }}...</a>
            {% endif %}
            <p class="date_and_user">{% if post.createdAt %}posté le {{ post.createdAt|date('Y-m-d H:i:s') }}</br>par {{ post.user }}{% endif %}</p>
        </div>
        <div class="panel-footer">
            <p class="card_post_footer">
                <span>
                    <span>{{ post.postResponses|length }}</span>
                    <img class="paper_plane" src="{{ asset('images/speech-bubble.png') }}">
                </span>
                {% if post.status == "active" %}
                    <span class="label label-default"> Non résolu</span>
                {% else %}
                    <span class="label label-info">Résolu</span>
                {% endif %}
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $( ".post_thumbnail{{ post.getId }}" ).mouseover(function() {
            $( ".post_thumbnail{{ post.getId }}" ).css('cssText', 'background-color: #f5f5f5 !important');
        });

        $( ".post_thumbnail{{ post.getId }}" ).mouseout(function() {
            $( ".post_thumbnail{{ post.getId }}" ).css('cssText', 'background-color: white !important');
        });
    })

</script>