{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container container_post_edit">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Modification de la demande</h1>
            </div>

            <div class="panel-body">
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input class="btn btn-info" type="submit" value="Modifier" />
                {{ form_end(edit_form) }}
            </div>
        </div>
        {% if app.user.roles|length == 1 %}
            <a  class="btn btn-default" href="{{ path('post_show', { 'id': post.id }) }}">Annuler</a>
        {% else %}
            <a  class="btn btn-default" href="{{ path('post_proofreader_show', { 'id': post.id }) }}">Annuler</a>
        {% endif %}
    </div>
{% endblock %}
