{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid" style="padding-bottom:60px">

            <div class="row index_create_post_button" >
                <!--<div class="banner_div" style="height: 280px;  background-image:url('{{ asset('images/banner/note.jpg') }}')">-->
                <div class="banner_div" style="height: 280px;  background-color: #5bc0de">
                    <img class="img_banner_group_2 hidden-sm hidden-xs" src="{{ asset('images/discussion.png') }}">
                    <img class="img_banner_group hidden-xs" src="{{ asset('images/discussion.png') }}">
                    <!--<img class="img_banner" src="{{ asset('images/search.png') }}">-->
                    <div class="text_banner">
                        <p class="text_p">Une hésitation sur votre orthographe ? <br>Demandez à la communauté <span class="typo_word">
                                typo</span><br>de vous relire !</p>

                    </div>
                    <img class="img_banner_group_2 hidden-md hidden-sm hidden-xs" src="{{ asset('images/discussion2.png') }}">
                </div>
            </div>


        <div class="container main_container_index">
            <div class="row" >
                <div class="row buttons_action">
                    <a class="btn btn-info " href="{{ path('post_new') }}"><span class="glyphicon glyphicon-pencil"></span> Poster une nouvelle demande</a>
                </div>
                <div>
                    <hr>
                    {% for post in posts|sort|reverse %}
                        {% include 'post/card_post.html.twig' %}
                        {% include 'post/modal_show_post.html.twig' %}
                    {% endfor %}
                </div>
            </div>
                <div class="row">
                    <div class="text-center">{{ knp_pagination_render(posts) }}</div>
                </div>

        </div>
    </div>

<script>
    {% for post in posts|sort|reverse %}
    {% if post.status == "closed" or post.status =="noErrors" %}
    $(document).ready(function() {
        $('.question-sign{{ post.getId }}').css('cssText', 'color: #5bc0de !important');
    })
    {% endif %}
    {% endfor %}
</script>

{% endblock %}
