{% extends 'base.html.twig' %}

{% block content %}
    {% block head %}
        <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
{% include 'menu.html.twig' %}

    <div class="container">
    <div class="row index_create_post_button">
        <div style="height: 100px; background-color: lightblue">
    <a class="btn btn-info " href="{{ path('post_new') }}"><span class="glyphicon glyphicon-pencil"></span> Poster une nouvelle demande</a>
        </div>
        </div>
            <h1 class="recent_questions_title">questions récentes</h1>
        <div class="row" >


        {% for post in posts %}
                <div class="col-xs-6 col-md-3 ">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <a href="{{ path('post_show', { 'id': post.id }) }}" class="thumbnail">
                        {{ post.text }}
                        {% if post.createdAt %}déposé le {{ post.createdAt|date('Y-m-d H:i:s') }} par {{ post.user }}{% endif %}
                    </a>
                   <span>{{ post.postResponses|length }}</span>
                    <span class="glyphicon glyphicon-comment"></span>
                    {% if post.status == "active" %}
                            <span class="not_resolved"> Non résolu</span>
                        {% else %}
                            <span class="resolved">Résolu</span>
                     {% endif %}
                </div>



        {% endfor %}
        </div>



</div>
{% endblock %}
