{% extends 'base.html.twig' %}

{% block content %}
    {% block head %}
        <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}

    {% include 'menu.html.twig' %}
    <div class="container-fluid" style="margin: 0">

            <div class="row index_create_post_button" >
                <!--<div class="banner_div" style="height: 280px;  background-image:url('{{ asset('images/banner/note.jpg') }}')">-->
                <div class="banner_div" style="height: 280px;  background-color: #5bc0de">

                    <!--<img class="image_note" src="{{ asset('images/banner/note.png') }}">-->
                    <div class="text_banner">
                    <p class="text_p">Une hésitation sur votre orthographe ? <br>Demandez à la communauté <span class="typo_word">
                       typo</span><br>de vous relire !</p>
                </div>
                </div>
            </div>


<div class="container">
        <div class="row" >
            <div class="row buttons_action">
                <a class="btn btn-info " href="{{ path('post_new') }}"><span class="glyphicon glyphicon-pencil"></span> Poster une nouvelle demande</a>
            </div>
            <hr>
            {% for post in posts|sort|reverse %}
                {% include 'post/card_post.html.twig' %}
                {% include 'post/modal_show_post.html.twig' %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="text-center">{{ knp_pagination_render(posts) }}</div>
        </div>
    </div>
    </div>


<script>
    {% for post in posts|sort|reverse %}
    {% if post.status == "closed" %}
    $(document).ready(function() {
        $('.question-sign{{ post.getId }}').css('cssText', 'color: #5bc0de !important');
    })
    {% endif %}
    {% endfor %}
</script>




{% include 'footer.html.twig' %}
{% endblock %}
