{% extends 'base.html.twig' %}

{% block content %}
    {% block head %}
        <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
{% include 'menu.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="avatar_post_author" style="background-image:url('{{asset('/avatars/'~post.user.getAvatarFilename()) }}')"></div>
            <div >{{ post.user }}</div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-11">
            <div class="panel panel-default card-question">
                <p>{{ post.text }}</p>
                <div style="display: flex" class="pull-right">
                    {% if postResponses|length < 1 %}
                        <a  style="margin-right: 5px" class="btn btn-default btn-sm" href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>


                        {{ form_start(delete_form) }}
                        <input  class="btn btn-default btn-sm" type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    {% endif %}
                </div>
            </div>
            <div class="panel">
                <div >Posté le {{ post.createdAt|date('Y-m-d H:i:s') }}</div>


            </div>
        </div>
    </div>


    {% if errorMessage  %}
        <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> {{ errorMessage }}</div>
    {% endif %}


    {% if app.user %}
    {% if app.user != post.user %}
    {% if postResponseByUser is empty %}
        {% if post.status != "closed" %}

        <!-- Button trigger modal -->

            {% if 'ROLE_PROOFREADER' in app.user.roles %}
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-pencil"></span> Poster une réponse
                </button>
            {% else %}
                <a class="btn btn-default" href="{{ path('quiz_answer_new') }}"><span class="glyphicon glyphicon-edit"></span> Devenir correcteur</a>
            {% endif %}


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form, {'action': path('postresponse_new', {id: post.id}), 'method': 'POST'}) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Create" />
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>


        {% endif %}
    {% endif %}
    {% endif %}
    {% else %}
    {% if post.status != "closed" %}
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-pencil"></span> Poster une réponse
        </button>
        {% else %}
            <div class="alert alert-success" role="alert">
                Une solution a déjà été apportée !
            </div>
    {% endif %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <a href="{{ path('fos_user_security_login') }}">Connectez-vous</a> ou <a href="{{ path('fos_user_registration_register') }}">inscrivez-vous</a>!

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <h2>{{ postResponses|length }} {% if postResponses|length > 1 %}réponses {% else %}réponse {% endif %}</h2>
    <hr class="my-4">

    <ul>
        {% for postResponse in postResponses %}

        <div class="row">
            <div class="col-md-1 ">
            {% if postResponse.score >= 3 %}
                <span class="glyphicon glyphicon-ok" ></span>
            {% endif %}
            </div>
            <div class="col-md-1 vote_buttons">
                <div class="row">

                {% if app.user != post.user and app.user != postResponse.user %}
                    <a href="{{ url('postresponse_up',{id: postResponse.id }) }}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                {% endif %}
                </div>
                <div class="row">

                <span class="badge badge-info">
                    {{ postResponse.score }}
                </span>
                </div>
                <div class="row">
                {% if app.user != post.user and app.user != postResponse.user %}
                    <a href="{{ url('postresponse_down',{id: postResponse.id }) }}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                {% endif %}
                </div>
            </div>
            <div class="col-md-8">

                <div class="panel panel-default card_answer">
                    {% include 'postresponse/prototype-post-response-show.html.twig' with {postResponse: postResponse} only %}
                </div>
            </div>
            <div class="col-md-1">
                <div class="avatar_post_author" style="background-image:url('{{asset('/avatars/'~postResponse.user.getAvatarFilename()) }}')"></div>
            </div>
        </div>
        {% endfor %}
    </ul>

                <a href="{{ path('post_index') }}" >Back to the list</a>
</div>


{% endblock %}


