{% extends 'base.html.twig' %}

{% block content %}
    {% block head %}
        <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
    {% include 'menu.html.twig' %}
    <div class="container">
        <div class="row user_question">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <div class="avatar_post_author" style="background-image:url('{{asset('/avatars/'~post.user.getAvatarFilename()) }}')"></div>
                <div >{{ post.user }}</div>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <div class="panel panel-default card-question">
                    <p>{{ post.text }}</p>
                    <div style="display: flex" class="pull-right">
                        {% if postResponses|length < 1 %}
                            <a  style="margin-right: 5px" class="btn btn-default btn-sm" href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Supprimer</button>

                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Suppression</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Confirmez-vous la suppression ?</p>
                                        </div>
                                        <div class="modal-footer footer_delete">
                                            {{ form_start(delete_form) }}
                                            <input  class="btn btn-default" type="submit" value="Oui">
                                            {{ form_end(delete_form) }}
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="panel">
                    <div >Posté le {{ post.createdAt|date('Y-m-d H:i:s') }}</div>
                </div>
            </div>
        </div>


        {% if errorMessage  %}
            <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> {{ errorMessage }}</div>
        {% endif %}


        {% if app.user  %}
            {% if post.status != "closed" %}
                {% if app.user != post.user %}
                    {% if postResponseByUser is empty %}

                        {% if 'ROLE_PROOFREADER' in app.user.roles %}
                            <a class="btn btn-info " href="{{ path('postresponse_new', {id : post.id}) }}"><span class="glyphicon glyphicon-pencil"></span> Poster une nouvelle réponse</a>
                        {% else %}
                            <a class="btn btn-default" href="{{ path('quiz_answer_new') }}"><span class="glyphicon glyphicon-edit"></span> Devenir correcteur</a>
                        {% endif %}

                    {% else %}
                        <div class="alert alert-warning" role="alert">Vous avez répondu à ce sujet.</div>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="alert alert-success" role="alert">Une solution a été apportée !</div>
            {% endif %}

        {% else %}
            {% if post.status != "closed" %}
                <a class="btn btn-info " href="{{ path('postresponse_new', {id : post.id}) }}"><span class="glyphicon glyphicon-pencil"></span> Poster une nouvelle réponse</a>
            {% else %}
                <div class="alert alert-success" role="alert">Une solution a été apportée !</div>
            {% endif %}
        {% endif %}

        <h2>{{ postResponses|length }} {% if postResponses|length > 1 %}réponses {% else %}réponse {% endif %}</h2>
        <hr class="my-4">


        <ul>
            {% for postResponse in postResponses %}
                <div class="row">
                    <div class="col-md-1 ">
                        {% if postResponse.score >= 3 %}
                            <span class="glyphicon glyphicon-ok" ></span>
                        {% endif %}
                    </div>
                    <div class="col-md-1 vote_buttons">

                        {% if post.status != "closed" %}
                            <div class=" voteup">
                                {% if app.user != post.user and app.user != postResponse.user %}
                                    <a href="{{ url('postresponse_up',{id: postResponse.id }) }}"><span id="plus{{ postResponse.getId() }}" class="glyphicon glyphicon-plus blue-none"></span></a>
                                {% endif %}
                            </div>
                        {% endif %}
                            <span class="label label-info">
                                {{ postResponse.score }}
                            </span>
                        {% if post.status != "closed" %}
                            <div class=" votedown">
                                {% if app.user != post.user and app.user != postResponse.user %}
                                    <a href="{{ url('postresponse_down',{id: postResponse.id }) }}"><span id="minus{{ postResponse.getId() }}" class="glyphicon glyphicon-minus"></span></a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-8">
                        <div class="panel panel-default card_answer">
                            {% include 'postresponse/prototype-post-response-show.html.twig' with {postResponse: postResponse} only %}
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="avatar_post_author" style="background-image:url('{{asset('/avatars/'~postResponse.user.getAvatarFilename()) }}')"></div>
                    </div>
                </div>
            {% endfor %}
        </ul>
        <a href="{{ path('homepage') }}" >Back to the list</a>
    </div>

    <script>
        {% for postResponse in postResponses %}
            {% for evaluation in app.user.getEvaluations() %}
                {% if evaluation.getValue == 1 %}
                    {% if evaluation.getPostResponse().getId() == postResponse.getId() %}
                        $(document).ready(function() {
                                $('#plus{{ postResponse.getId }}').css('cssText', 'color: lightblue !important');
                        })

                    {% endif %}
                {% else %}
                    {% if evaluation.getPostResponse().getId() == postResponse.getId() %}
                    $(document).ready(function() {
                        $('#minus{{ postResponse.getId }}').css('cssText', 'color: lightblue !important');
                    })

                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </script>


{% endblock %}


