{% extends 'base.html.twig' %}


{% block body %}
{% include 'menu.html.twig' %}
<div class="container">

    <table>
        <tbody>
            <tr>
                <th>Category</th>
                <td>{{ post.category }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ post.text }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ post.user }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% if app.user == post.user and postResponses|length < 1 %}
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
    <ul>
        {% for postResponse in postResponses %}
            <li>
                {% include 'postresponse/prototype-post-response-show.html.twig' with {postResponse: postResponse} only %}
            </li>
                {% if app.user != post.user and app.user != postResponse.user %}
            <a href="{{ url('postresponse_up',{id: postResponse.id }) }}">Button Up</a>
                {% endif %}
            <span>
                {{ postResponse.score }}
            </span>
                {% if app.user != post.user and app.user != postResponse.user %}
            <a href="{{ url('postresponse_down',{id: postResponse.id }) }}">Button Down</a>
                {% endif %}
        {% endfor %}
    </ul>

    {% if app.user != post.user %}
    {{ form_start(form, {'action': path('postresponse_new', {id: post.id}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    {% else %}

    {% endif %}
                <a href="{{ path('post_index') }}" class="btn btn-info">Back to the list</a>
</div>
{% endblock %}


